@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: #191919;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: rgb(232, 232, 232);
    padding: 2px 20px;
}

.flex_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    gap: 100px;
}

input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
}

.text-field {
    margin-bottom: 1rem;
  }
  /* стили для label */
  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    color: white;
  }
  /* стили для input */
  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }


  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin-top: 25px;
    
    
    color: #292929;
    transition: all 0.5s;
    position: relative; 
  }

  .btn:hover{
    opacity: 0.5;
  }


#name{
    display: flex;
    align-self: baseline;
    color: white;
    font-size: larger;
}

.text_for_need_registration{
  margin-top: 20px;
  max-width: 20vh;
  color: white;
}